---
---

/* Custom overrides */
$section-headings-color: #222;
$header-heading-color: #ffffff;
$header-bg-color: #ff924f;
$header-bg-color-secondary: #ff4b90;
$body-link-color: #ff4b6c;

@import "{{ site.theme }}";
/* Custom styles for the Project Bridge documentation site */

/* This applies after the theme is loaded */
html {
    background-image: linear-gradient(#000, #000) !important; // Solid black "image"
  }
body {
  background-color: #ffffff !important;
}

h1, h2, h3 {
  font-weight: bold !important;
}
