---
---

/* Custom overrides */
$section-headings-color: #222;
$header-heading-color: #ffffff;
$header-bg-color: #ff924f;
$header-bg-color-secondary: #ff4b90;
$body-link-color: #ff4b6c;

@import "{{ site.theme }}";
/* Custom styles for the Project Bridge documentation site */

/* This applies after the theme is loaded */


h1, h2, h3 {
  font-weight: bold !important;
}
// a:hover {
//     color: #FE006B;
//   }
